body {
    font-family: Arial, sans-serif;
    background-color: lightblue; 
    margin: 0;
    padding: 0;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    width: 100%;
    max-width: 600px; 
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
}

.search-bar {
    margin-bottom: 20px;
}

#locationInput {
    padding: 10px;
    width: 80%;
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    background-color: #005eff;
    color: white;
    margin-top: 9px;
}

.options {
    margin: 20px 0;
    flex-direction: column; 
    align-items: center;
}

.options label {
    margin: 9px 0; 
}

#sort-options, #filter-options {
    padding: 5px;
    box-sizing: border-box;
}

.weather-container {
    margin-top: 20px;
    max-height: 400px; 
    overflow-y: auto; 
}

.weather-info, .forecast-info {
    margin: 20px 0;
}

.forecast-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day {
    background: rgba(139, 130, 130, 0.8); 
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box;
    text-align: center;
}

.forecast-day h3 {
    margin-bottom: 10px;
}

.error {
    color: red;
}
